.cube0 {
    background-color: rgb(254, 253, 253);
}

.cube1 {
    background-color: green;
}

.cube2 {
    background-color: rgb(104, 143, 233);
}

.cube3 {
    background-color: rgb(83, 40, 175);
}

.cube4 {
    background-color: gold;
}

.cube5 {
    background-color: rgb(208, 23, 23);
}

.cube6 {
    background-color: rgb(18, 18, 18);
}