.cube0 {
    background-color: rgb(254, 253, 253);
}

.cube1 {
    background-color: rgb(12, 171, 12);
}

.cube2 {
    background-color: rgb(104, 143, 233);
}

.cube3 {
    background-color: rgb(208, 23, 23);
}

.cube4 {
    background-color: gold;
}

.cube5 {
    background-color: rgb(69, 16, 183);
}

.cube6 {
    background-color: rgb(18, 18, 18);
}

.chanceNote {
    padding: 15px;
    font-size: 14px;
    text-shadow: #1a1a19 1px 0 10px;
    text-decoration: underline;
    line-height: 20%;
}

.chancesBtn {
    border: 4px solid rgb(139, 137, 141);
    cursor: pointer;
    border-radius: 3px;
}

#chanceScr {
    text-align: center;
    background-color: rgb(62, 65, 72);
    width: 32vh;
    height: 40vh;
    position: absolute;
    top: 30%;
    left: 10%;
    border: 3px solid blueviolet;
    border-radius: 2px;
    opacity: 0.9;
    display: None;
    overflow: auto;
}

.level0 { color: white; }
.level1 { color: rgb(12, 171, 12); }
.level2 { color: rgb(104, 143, 233); }
.level3 { color: rgb(208, 23, 23); }
.level4 { color:gold; }
.level5 {
    font-size: 14px;
    position: absolute;
    top: 83%;
    color:white; 
}