.cube0 {
    background-color: rgb(254, 253, 253);
}

.cube1 {
    background-color: rgb(12, 171, 12);
}

.cube2 {
    background-color: rgb(104, 143, 233);
}

.cube3 {
    background-color: rgb(208, 23, 23);
}

.cube4 {
    background-color: gold;
}

.cube5 {
    background-color: rgb(69, 16, 183);
}

.cube6 {
    background-color: rgb(18, 18, 18);
}

.chanceNote {
    padding: 30px;
    font-size: 19px;
    text-indent: 10px;
    text-shadow: #1a1a19 1px 0 10px;
}

.level0 { color: white; }
.level1 { color: rgb(12, 171, 12); }
.level2 { color: rgb(104, 143, 233); }
.level3 { color: rgb(208, 23, 23); }
.level4 { color:gold; }
.level5 {
    font-size: 14px;
    position: absolute;
    top: 85%;
    color:white; 
}