html, body {
    background-color: rgb(42, 42, 39);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Ubuntu", sans-serif;
}

.ubuntu {
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#gameGrid {
    margin-top: 50%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: rgb(54, 52, 50);
    width: 50vh;
    height: 50vh;
    border-radius: 2px;
    border: 2px solid rgb(36, 38, 36);
}

.gridBlock {
    border-radius: 2px;
    padding: 25%;
    width: 60%;
    height: 60%;
    cursor: pointer;
    transition: 0.1s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridBlock:hover {
    background-color: rgb(68, 63, 63);
    transform: scale(1.1);
}

.gridBlock:active { transform: scale(1.0); }

.money {
    position: absolute;
    top: 10%;
    color: rgb(49, 232, 49);
}

.cube {
    width: 75%;
    height: 75%;
    transition: 0.15s;
    opacity: 0.9;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#cubeHold {
    opacity: 0.0;
    display: inline;
    position: absolute;
    height: 60px;
    width: 60px;
    pointer-events: none;
    border-radius: 2px;
}

#remove {
    position: absolute;
    top: 89%;
    cursor: pointer;
    transition: 0.1s;
    border: 4px solid grey;
    border-radius: 3px;
}

#buyBtn {
    position: absolute;
    top: 80%;
    cursor: pointer;
    border: 4px solid blueviolet;
    border-radius: 3px;
}

.chancesBtn {
    border: 3px solid blueviolet;
    font-size: 15px;
    width: 120px;
    height: 40px;
    position: absolute;
    top: 85%;
    cursor: pointer;
    border-radius: 3px;
}

#chanceScr {
    background-color: rgb(62, 65, 72);
    width: 30vh;
    height: 40vh;
    position: absolute;
    top: 30%;
    left: 20%;
    border: 3px solid blueviolet;
    border-radius: 5px;
    opacity: 0.9;
}

button {
    background-color: rgb(28, 27, 27);
    color: white;
    height: 60px;
    width: 300px;
    font-size: 20px;
    transition: 0.1s;
    cursor: pointer;
}
button:hover { transform: scale(1.1); }
button:active { transform: scale(1.0); }

.helpBtn {
    width: 80px;
    border-radius: 30px;
    cursor: pointer;
    position: absolute;
    left: 1vw;
    top: 94%;
}

#helpScr {
    display: None;
    background-color: rgb(72, 69, 62);
    width: 500px;
    height: 500px;
    position: absolute;
    top: 30%;
    border: 3px solid rgb(69, 65, 65);
    border-radius: 5px;
    opacity: 0.9;
}

.helpNote {
    color: white;
    padding: 30px;
    font-size: 19px;
    text-shadow: #1a1a19 1px 0 10px;
}

.closeBtn {
    height: 30px;
    width: 30px;
    background-color: rgb(253, 59, 59);
    position: absolute;
    border-radius: 50%;
    right: 0%;
}