html, body {
    background-color: rgb(42, 42, 39);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ubuntu {
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#gameGrid {
    margin-top: 50%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: rgb(54, 52, 50);
    width: 50vh;
    height: 50vh;
    border-radius: 2px;
}

.gridBlock {
    border-radius: 2px;
    padding: 25%;
    width: 50%;
    height: 50%;
    cursor: pointer;
    transition: 0.1s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridBlock:hover {
    background-color: rgb(68, 63, 63);
    transform: scale(1.1);
}

.gridBlock:active { transform: scale(1.0); }

.money {
    position: absolute;
    top: 10%;
    color: white
}

.cube {
    width: 75%;
    height: 75%;
    transition: 0.15s;
    opacity: 0.6;
    border-radius: 5px;
}

#cubeHold {
    opacity: 0.0;
    display: inline;
    position: absolute;
    height: 60px;
    width: 60px;
    pointer-events: none;
    border-radius: 5px;
}

#remove {
    position: absolute;
    top: 80%;
    cursor: pointer;
    transition: 0.1s;
    border: 4px solid grey;
    border-radius: 3px;
}

#buyBtn {
    position: absolute;
    top: 85%;
    cursor: pointer;
    transition: 0.1s;
    border: 4px solid blueviolet;
    border-radius: 3px;
}

button {
    background-color: rgb(28, 27, 27);
    color: white;
    height: 60px;
    width: 300px;
    font-size: 20px;
}
button:hover { transform: scale(1.1); }
button:active { transform: scale(1.0); }
